<h2 mat-dialog-title>Recensioni</h2>
<div mat-dialog-content>
    <table mat-table class="mat-elevation-z8">
        @if(this.indexReview && this.indexReview.length > 0) {
            @for(reviewItem of indexReview; track reviewItem) {
                <tr>
                    <app-modal-review-row [reviewItem]="reviewItem" 
                    (editReview)="editReview($event)"
                    (deleteReview)="deleteReview($event)"></app-modal-review-row>
                </tr>            
            }
        } @else {
            <li>Non sono presenti recensioni</li>
        }
    </table>
</div>
<div>
    <form [formGroup]="newReviews" (ngSubmit)="onSubmit()">
        <label for="newreview">Aggiungi una nuova recensione</label>
        <input id="newreview" type="text" formControlName="review">
    
    
        <button mat-icon-button>
            <mat-icon aria-label="Save" type="submit">save</mat-icon>
        </button>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="true">Chiudi</button>
</div>