<form [formGroup]="newProductForm" (ngSubmit)="onSubmit()">
    <div class="mat-form-field-row">
        <mat-form-field class="width-90 margin-top-16">
            <mat-label>Category</mat-label>
            <input matInput formControlName="category">
        </mat-form-field>
    </div>
    <div class="mat-form-field-row">
        <mat-form-field class="width-90">
            <mat-label>Title</mat-label>
            <input matInput formControlName="title">
        </mat-form-field>
    </div>
    <div class="mat-form-field-row">
        <mat-form-field class="width-90">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description"></textarea>
        </mat-form-field>
    </div>
    <div class="mat-form-field-row">
        <mat-form-field class="width-90">
            <mat-label>Price</mat-label>
            <input matInput placeholder="0" formControlName="price">
        </mat-form-field>
    </div>
    <div class="mat-form-field-row">
        <mat-form-field class="width-90">
            <mat-label>Employee</mat-label>
            <input matInput formControlName="employee">
        </mat-form-field>
    </div>
    <button mat-raised-button class="margin-16 primary-scheme" type="submit" [disabled]="newProductForm.invalid">Save</button>
</form>