<header class="header-container" role="banner">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <div class="header-left">
                <img src="path_to_your_svg_image.svg" alt="Logo" class="logo">
            </div>
            <div class="header-right">
                <button mat-icon-button aria-label="profile">
                    <mat-icon>account_circle</mat-icon>
                </button>
                <span class="username">Username</span>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
</header>