@import '../../../styles.scss';

mat-table {
    .ellipsis {
        max-width: 150px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    mat-row:nth-child(even) {
        background-color: $opacity-even;
    }

    mat-row:nth-child(odd) {
        background-color: $opacity-odd;
    }

    mat-header-row {
        background-color: $header-opacity;
        mat-header-cell {
            max-width: 150px;
        }
    }
}

mat-card {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 250px;        
    
    mat-card-content,mat-card-title,mat-card-subtitle {
        max-width: 300px;
        word-wrap: break-word;
    }   
}

