
<button mat-raised-button class="margin-16 primary-scheme" (click)="newProduct()">
    Add new Product
</button>

<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    @for(column of displayedColumns; track column) {
        <ng-container [matColumnDef]="column">
            <mat-header-cell *matHeaderCellDef>
                 {{ column | uppercase }} 
            </mat-header-cell>
            <mat-cell *matCellDef="let element" [ngClass]="'ellipsis'" 
                [matTooltip]="element.data[column]"
                [matTooltipDisabled]="element.data[column]?.length < 20">
                @switch(true){
                    @case (column !== 'reviews' && column !== 'actions') {
                        {{ element.data[column] }}
                    }
                    @case (column === 'reviews') {
                        <span class="icon" (click)="editReview(element.id, element.data)">
                            {{ element.data[column]?.length || '0' }} <mat-icon aria-label="Edit">edit</mat-icon>
                        </span>
                    }
                    @case (column === 'actions') {
                        
                            <mat-icon (click)="editProduct(element.id, element.data, element.data['reviews'])" class="icon-size">edit</mat-icon>
                        
                        
                            <mat-icon (click)="deleteProduct(element.id)">delete</mat-icon>
                       
                    }
                }
            </mat-cell>
        </ng-container>
    }
    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
